extends layout

block content
  -
    months = [
      "Hammer",
      "Alturiak",
      "Ches",
      "Tarsakh",
      "Mirtul",
      "Kythorn",
      "Flamerule",
      "Eleasis",
      "Eleint",
      "Marpenoth",
      "Uktar",
      "Nightal"
    ];
  each event in events
    div(class='event-card')
      div(class='event-title')
        | #{event.title}
        br
        | #{event.year + " "}
        | #{months[( (event.milliseconds / (1000 * 60 * 60 * 24) ) / 30 )  -  ( (event.milliseconds / (1000 * 60 * 60 * 24) ) / 30 ) % 1] + " "}
        | #{parseInt(( ( (event.milliseconds / (1000 * 60 * 60 * 24) ) / 30 ) % 1 ) * 30 ) + " "}
      div(class='event-description')

        | #{event.description}
